.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 100vh;
  width: 100vw;

  gap: 20vh;

  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.hero .logo {
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 2rem;

  color: #fff;
  font-size: 3rem;

  text-align: center;
}

.hero .logo img {
  height: 20vh;
  width: 20vh;
}

.hero .heroButtons{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.hero .heroButtons button {
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 50px;
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer; 
  transition: all 0.3s ease;
}

.hero .heroButtons button:hover {
  background-color: #fff3;
}


@media screen and (max-width: 768px) {
  .hero .logo {
    font-size: 2.5rem;
  }

  .hero .heroButtons {
    gap: .5rem;
  }
  .hero .heroButtons button {
    font-size: 1rem;
  }
}

