.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 100vh;
  width: 100vw;

  gap: 20vh;
}

.hero .logo {
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 2rem;

  color: #731963;
  font-size: 3rem;

  text-align: center;
}

.hero .logo img {
  height: 20vh;
  width: 20vh;
}

.hero .heroButtons{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.hero .heroButtons button {
  background-color: #731963;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer; 
}


@media screen and (max-width: 768px) {
  .hero .logo {
    font-size: 2.5rem;
  }
}
